.icono2 {
    font-size: 22px;
    color: var(--primary);
}

.direccion {
    font-size: 10px;
}

.textoGrande {
    font-size: 15px;
}

.icol {
    display: flex;
    justify-content: center;
    /* Centra horizontalmente */
    align-items: center;
    /* Centra verticalmente */
}

.card{
    // width: 55%;
}