    .precio{
        color: var(--color-text);
        font-weight:600;
        font-size: 20px;
    }

    .titulo{
        color: var(--color-text);
        font-size: 12px;
        font-weight: 600;
    }


.producto{
    height: 161px;
    font-size: 8px;
}

.tamañoCard{
    height: 320px;
}

ion-img{
    height: 90px;
}

.descripcion{
    height: 45px;
}

  
  