.card{
    background-color: var(--gray4);
}


.direccion{
    font-size: 8px;
}


.icol{
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
}

.icono{
    font-size: 36px;
}