<ion-header>
  <app-headerback titulo="Notificaciones"></app-headerback>
</ion-header>

<ion-content>

  <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-card class="card" >
    <ion-card-content *ngFor="let item of itemDireccion">
      <ion-grid fixed>
        <ion-row>
          <ion-col size="2" class="icol">
            <ion-icon name="{{item.icon}}" class="icono"></ion-icon>
          </ion-col>
          <ion-col size="10">
            <ion-card-header>
              <ion-card-title class="titulo">{{item.titulo}}</ion-card-title>
            </ion-card-header>
            <div class="direccion">
              {{item.direccion}}
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
</ion-content>