.icol{
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    }
    
.direccion{
    font-size: 8px;
}

.icono2{
    font-size: 22px;
    color: var(--primary);
}

.textoGrande{
    font-size: 15px;
    }