.header{
    --background: var(--primary);
}


.imagen{
    height: 35px;
    padding-left: 5px;
}

ion-badge {
    --background: var(--primary);
}

.colorBlanco{
    color: #fff;
}

.subTitulo{
    font-size: 18px;
}